* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    height: 100%;
    width: 100%;
    background-color: #B91450;
    font-family: Arial, sans-serif;
}

h2 {
    color: white;
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

button {
    color: #B91450;
    font-size: 1em;
    padding: 3px;
    font-weight: bolder;
}
/* FINE COMMON */
/* HEADER */
header h2 {
    margin: 20px 0;
}
/* FINE HEADER */
/* MAIN */
.container {
    width: 70%;
    height: 200px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}

.container-form {
    width: 60%;
    height: 60%;
    justify-content: space-around;
    margin: 0 auto;
}

.container-button {
    width: 20%;
    height: 40%;
    justify-content: space-around;
    margin: 0 auto;
}

label {
    color: #B91450;
    margin-bottom: 15px;
    font-size: 0.9em;
}

input,
select {
    height: 25px;
}

input:hover {
    background-color: #B91450;
    color: white;
}

::placeholder {
    text-align: center;
}
/* FINE MAIN */